@using BloodDonor.Mvc.Models.ViewModel
@model IEnumerable<DonationListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Donations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Donation Date</th>
            <th>Donor</th>
            <th>Campaign</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DonationDate.ToString("yyyy-MM-dd")</td>
                <td>@item.DonorName</td>
                <td>@item.Campaign</td>
                <td>@item.Location</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
